.loader-wrapper {
    height: 100vh;
    width: 100vw;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #282c34;
    opacity: 0.95;
}

.gameLoader {
    height: 100vh;
    width: 100vw;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.2;
}

.loader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  animation: Rotate infinite 2s linear;
  filter: blur(12px);
  justify-content: center;
  align-items: center;
}

.loader-blue {
  background-color: rgb(14, 14, 107);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 0 20px;
}

.loader-red {
  background-color: maroon;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 0 20px;
  background: linear-gradient(to left, #ff5770, #e4428d, #c42da8, #9e16c3, #6501de, #9e16c3, #c42da8, #e4428d, #ff5770);
  background-size: 200% 200%;
  -webkit-animation: animateGlow 1.25s linear infinite;
  animation: animateGlow 1.25s linear infinite;
}

@-webkit-keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@keyframes Rotate {
  from {
    transform: rotate(0deg) scale(0.8);
  }
  to {
    transform: rotate(360deg) scale(0.8);
  }
}